.header-function {
    background-color: var(--theme-color);
    display: flex;
    justify-content: flex-end;
    border-bottom: 0.2rem solid white;
}

.header-function__items {
    margin-right: 2rem ;
    font-size: 1.5rem;
    color: var(--bar-text-color);
    padding: 0.5rem;
} 
.nav-bar {      
    width: 100%;  
    height: auto;
    background-image:linear-gradient(rgb(34, 200, 255), rgb(72, 169, 217));
    display: flex;
    justify-content: space-between;
    position: fixed;
    
    
}

.nav-bar__rightside{
    display: flex;

}

.nav-bar__leftside{
    display: flex;


}

.nav-bar__items{
    color: -main-color;
    text-decoration: none;
    font-size: 3rem;
    color: var(--bar-text-color);
    padding: 2rem 1.5rem  ;
}
.nav-bar__items:hover {
    background-color: rgba(0, 0, 0, 0.253);
}
.container::after{
    position: relative;
    width: 100%;
    height: 100%;
}
.back-ground{
    position:absolute;
    left: 50%;
    top:  50%;
    margin-left: -683px;
    margin-top:  -228px;
    width: 1365px;
    background-repeat: no-repeat;
    
}
